body {
 background: rgb(131, 81, 172);
}

#div-1 {
    background: rgb(185, 236, 117);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 200px;
    padding-left: 1%;
    margin: 10px;
}

#div-2  {
    background: rgb(236, 155, 117);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 200px;
    padding-left: 1%;
    margin: 10px;
}